@media only screen and (min-width: 874px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #menu_icon {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #temple_list {
    grid-template-columns: repeat(3, 1fr);
  }

  #menu_icon {
    display: none;
  }
}
